<div class="container-md">
  <div class="row">

<div class="col-md-12 text-center">
  <div class="text-center titlu">Descriere noua pentru categorie</div>
<form #myform="ngForm" (ngSubmit)="submitForm(myform.value)">

  <input  name="name" ngModel type="text" [(ngModel)]="product.name"  class="form-control text-center font-weight-bold">
    <div name="id" ngModel [(ngModel)]="product.categorie"></div>


  <input style="margin-top: 2%; border-radius: 20px; background-color: red; color: wheat" type="submit" value="Edit" />
</form>
<div class="text-center titlu"> {{ mybool == true ? "Redirectionare spre pagina editare in " + sec + " secunde" : ""}} </div>
</div>
  </div>
</div>
