<!--
<form #myform="ngForm" (ngSubmit)="submitForm(myform.value)">
  <div class="form-group text-center rosiatic titlu">
    <label>Nume vechi</label>
    <div class="container-md text-center">
      <div>

      </div>
      <div class="col-sm-4 margine3d pozitie">
        <input #numevechi name="name" ngModel type="text"  class="form-control text-center font-weight-bold">
      </div>
    </div>

    <label>Nume nou</label>
    <div class="container-md">
      <div class="col-md-4 margine3d text-center pozitie">
        <input #numenou name="nou" ngModel type="text"  class="form-control text-center font-weight-bold">
      </div>
    </div>

    <div class="panel-footer text-center">

      <input type="submit" value="Submit" />
    </div>

-->
<div *ngFor="let Mod of modele">
  <div class="form-group text-center ">
    <div class="container-md"  >
      <div class="col-xs-6 inchis" >
        <div class="titlu">DENUMIRE: {{Mod.name}}</div>
        <div class="titlu">DATA: {{Mod.data}}</div>
        <button class="btn-danger" (click)="submitForm(Mod.id)">Editare</button>
      </div>
    </div>
  </div>
</div>

