.imgeClass{
  width:200px;
  height:200px;
  border: darkred 10px;
}

.imaginerupe{

}
.imaginerupe:hover{

}

.rosiatic{
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.nume{
  color: black;
}
.marginegroasa{
  border-style: solid;
}
.margine3d{
  transition: 0.4s;
}
.margine3d:hover{
  transition: 0.2s;
  box-shadow: 0 0 10px red, 0 0 15px darkred, 0 0 20px red, 0 0 25px darkred;
}

.curcubeu {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% { color: red; }
  25% {color: green; }
  50% { color: blue; }
  75% { color: yellow;}
  100% { color: red; }
}
.titlu{
  color: darkred;
  font-size: 30px;
  font-weight: bold;
}
