<div class="panel-body panel-danger panel-primary">
  <div class="panel-heading ">
    <h3 class="panel-title text-center titlu">Adauga Produse</h3>
  </div>
  <div class="panel-body">
    <form #myform="ngForm" (ngSubmit)="submitForm(myform.value)">
    <div class="form-group text-center rosiatic">
      <label>Denumire</label>
    <div class="container-md">
       <div class="col-xs-6 margine3d">
          <input #denumire name="name" type="text" ngModel class="form-control text-center font-weight-bold">
      </div>
    </div>
    <div class="form-group text-center rosiatic">
      <label>Descriere</label>
      <div class="container-md">
        <div class="col-xs-6 margine3d">
      <input #descriere type="text" name="descriere" ngModel class="form-control text-center font-weight-bold" >
        </div>
      </div>
    </div>

    <div class="form-group text-center rosiatic">
      <label>Pret</label>
      <div class="container-md">
        <div class="col-xs-6 margine3d">
          <input #pret type="number" name="pret" ngModel class="form-control text-center font-weight-bold" >
        </div>
      </div>
    </div>

    <div class="form-group text-center rosiatic">
      <label>Data lansarii</label>
      <div class="container-md">
        <div class="col-xs-6 margine3d">
          <input #datalansarii type="date" name="datalansarii" ngModel class="form-control text-center font-weight-bold" >
        </div>
      </div>
    </div>

    <div class="form-group text-center rosiatic">
      <label>Categorie</label>
      <div class="container-md">
        <div class="col-xs-6 margine3d">
          <input #categorie type="text" name="categorie" ngModel class="form-control text-center font-weight-bold" >
        </div>
      </div>

        </div>

    <div class="form-group text-center rosiatic">
      <label>Link Imagine</label>
      <div class="container-md">
        <div class="col-xs-6 margine3d">
          <input #link type="text" ngModel name="picture" class="form-control text-center font-weight-bold" >
        </div>
      </div>
    </div>

  </div>
  <div class="panel-footer text-center">
   <!-- <button class="btn btn-danger" value="Submit">Salveaza</button> -->
    <input type="submit" value="Submit" />
  </div>
    </form>
</div>

